{% do view.registerAssetBundle("cloudgrayau\\utils\\assetbundles\\CloudGrayAsset") %}
{% import "_includes/forms" as forms %}
{% import 'cloudgrayau-utils/_macros' as macros %}
<div id="settings">
{{ forms.textField({
    label: "Cache duration",
    instructions: "The total amount of seconds to cache Instagram API requests.",
    name: 'cacheDuration',
    value: settings['cacheDuration'],
    placeholder: 3600,
    type: 'number',
    min: 0,
    warning: macros.configWarning('cacheDuration', 'instafeed')
}) }}
</div>
{% include 'cloudgrayau-utils/footer' %}
